Repository Darkrp-community/OpenKeep, pull requests merged in 2024-08, with the labels that each got.

#444 Zizombi
  code/__DEFINES/roguetown.dm
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/npc/orc.dm
  code/modules/mob/living/carbon/human/npc/zizombies.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/mob/monster/zizombie.dmi
  stonekeep.dme
Labels: Merge conflict, Icons

#448 Bye Bye Beggars: Operation Triple B
  _maps/map_files/roguetown/roguetown.dmm
Labels: Won't fix, Map

#434 Shades Emerge [DONE?]
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/items/rogueweapons/intents.dm
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/rogue/creacher/shade.dm
  code/modules/roguetown/roguejobs/alchemist/reagents.dm
  code/modules/spells/roguetown/acolyte/dendor.dm
  icons/obj/objects.dmi
  icons/roguetown/mob/monster/stonekeep_shade.dmi
  stonekeep.dme
Labels: Icons

#407 Replaces closets in feldsher's basement with crates
  _maps/map_files/roguetown/roguetown.dmm
Labels: Map

#453 Tweaks areas of the Castle, as well as completely overhauls the Magicians Tower
  _maps/map_files/roguetown/roguetown.dmm
Labels: Map

#469 Revenge of the Forgotten
  _maps/map_files/generic/CentCom.dmm
  code/__DEFINES/traits.dm
  code/datums/gods/faiths/forgotten.dm
  code/datums/gods/patrons/forgotten.dm
  code/datums/skills/combat.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/rogueitems/keys.dm
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/antagonists/roguetown/roleobjs/purishep.dm
  code/modules/antagonists/roguetown/villain/assassin.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/swordmaster.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/treasurehunter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/witchhunter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/church/adept.dm
  code/modules/jobs/job_types/roguetown/church/inquisitor.dm
  code/modules/jobs/job_types/roguetown/church/puritan.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/other/merc_classes/grenzelhoft.dm
  code/modules/jobs/jobs.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/paperwork/rogue.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  code/modules/roguetown/roguemachine/mail.dm
  icons/roguetown/weapons/32.dmi
  icons/roguetown/weapons/64.dmi
  sound/magic/forgotten_bell.ogg
  stonekeep.dme
Labels: Scheduled for testmerge

#447 Map: Dun Manor
  _maps/dun_manor.dm
  _maps/dun_manor.json
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Scheduled for testmerge, Map

#512 Lockpicks and Lockpicking
  code/game/objects/items.dm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/mineral_doors.dm
  code/modules/cargo/packsrogue/tools.dm
  code/modules/hydroponics/roguebin.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/vaquero.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/assassin.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/treasurehunter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/bard.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lmason.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lsmith.dm
  code/modules/jobs/job_types/roguetown/garrison/garrisonarcher.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/nobility/merchant.dm
  code/modules/jobs/job_types/roguetown/nobility/nightman.dm
  code/modules/jobs/job_types/roguetown/other/merc_classes/underdweller.dm
  code/modules/jobs/job_types/roguetown/other/merc_classes/zybantine.dm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
  code/modules/jobs/job_types/roguetown/peasants/beggar.dm
  code/modules/jobs/job_types/roguetown/peasants/jester.dm
  code/modules/jobs/job_types/roguetown/peasants/prisoner.dm
  code/modules/jobs/job_types/roguetown/serfs/mason.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/_anvil_recipe.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  icons/roguetown/items/keys.dmi
  sound/items/pickbad.ogg
  sound/items/pickbreak.ogg
  sound/items/pickgood1.ogg
  sound/items/pickgood2.ogg
Labels: Ready to merge

#471 FAITHENING: 1
  code/controllers/subsystem/rogue/devotion.dm
  code/datums/gods/patrons/divine_pantheon.dm
  code/datums/sexcon.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/templar.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/spells/roguetown/acolyte/eora.dm
  code/modules/spells/roguetown/acolyte/general.dm
  icons/obj/projectiles.dmi
Labels: Scheduled for testmerge

#511 Roguetown Map Major Changes Pt1 (Village/Basin, Inner Town, etc)
  _maps/map_files/roguetown/roguetown.dmm
Labels: Map

#534 Kitchen update for Dun Manor
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Map

#548 Centcomm
  _maps/map_files/generic/CentCom.dmm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/hats.dm
  modular/Mapping/Mapping_aides.dm
Labels: Map, Squash me

#526 THE BARDENING PR (AND MORE!!!)
  _maps/custom/roguehamlet1.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/roguetest/roguetest.dmm
  _maps/map_files/roguetown/otherz/roguehamlet.dmm
  _maps/roguehamlet/roguehamlet.dmm
  code/__DEFINES/traits.dm
  code/__HELPERS/global_lists.dm
  code/_globalvars/lists/objects.dm
  code/datums/mind.dm
  code/datums/status_effects/rogue/debuff.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/datums/stress/positive_events.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/rogueitems/dmusicbox.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/roguetown/roleobjs/prisoner.dm
  code/modules/antagonists/roguetown/roleobjs/purishep.dm
  code/modules/antagonists/roguetown/villain/peasantrebel.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/clothing/suits/toggles.dm
  code/modules/hydroponics/roguebin.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/dbomb.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/templar.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/bard.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lsmith.dm
  code/modules/jobs/job_types/roguetown/garrison/royalguard.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/other/deathknight.dm
  code/modules/jobs/job_types/roguetown/other/merc_classes/boltslinger.dm
  code/modules/jobs/job_types/roguetown/other/merc_classes/steppesman.dm
  code/modules/jobs/job_types/roguetown/other/merc_classes/underdweller.dm
  code/modules/jobs/job_types/roguetown/other/merc_classes/zybantine.dm
  code/modules/jobs/job_types/roguetown/peasants/jester.dm
  code/modules/mob/living/carbon/human/npc/zizombies.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  code/modules/roguetown/roguejobs/blacksmith/smelter.dm
  code/modules/spells/roguetown/acolyte/general.dm
  icons/roguetown/clothing/head.dmi
  modular/Barding/code/Barding_instruments.dm
  sound/magic/mockery.ogg
Labels: Scheduled for testmerge, Map, Icons

#549 Iron Armors
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
Labels: Icons

#575 New haircuts
  code/modules/mob/dead/new_player/sprite_accessories.dm
  icons/roguetown/mob/hair.dmi
Labels: Icons

#566 RNG Stat variation now weighted towards unchanged, rather than deducted
  code/modules/mob/living/stats.dm
Labels: Scheduled for testmerge

#576 Touchups
  code/datums/mutable_appearance.dm
  code/game/objects/items/rogueweapons/shields.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/dbomb.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/miner.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lminer.dm
  code/modules/jobs/job_types/roguetown/other/merc_classes/underdweller.dm
Labels: Bugfix

#583 (Screen) Grain Entrapment
  code/_onclick/hud/screen_objects.dm
Labels: Scheduled for testmerge

#567 Dun Manor Mage Tower Glowup + Area fixes for Dun Manor
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Scheduled for testmerge, Map

#577 Ports Blackstone's audible emote pitch fix
  code/datums/emotes.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/simple_animal/rogue/farm/cow.dm
  code/modules/mob/living/simple_animal/rogue/farm/goat.dm
  code/modules/mob/living/simple_animal/rogue/game/saiga.dm
Labels: Scheduled for testmerge

#578 Aasimar and Tiefling voice tweaks
  code/modules/mob/living/carbon/human/species_types/roguetown/other/aasimar.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/tiefling.dm
  code/modules/mob/living/carbon/human/voicepacks/male/serious.dm
  sound/vo/male/serious/chuckle.ogg
  sound/vo/male/serious/groan.ogg
  sound/vo/male/serious/huh.ogg
  sound/vo/male/serious/laugh (2).ogg
  sound/vo/male/serious/laugh (3).ogg
  sound/vo/male/serious/laugh.ogg
  sound/vo/male/serious/leap.ogg
  sound/vo/male/serious/pain (2).ogg
  sound/vo/male/serious/pain (3).ogg
  sound/vo/male/serious/pain (4).ogg
  sound/vo/male/serious/pain.ogg
  sound/vo/male/serious/paincrit (2).ogg
  sound/vo/male/serious/paincrit.ogg
  sound/vo/male/serious/painscream (2).ogg
  sound/vo/male/serious/painscream.ogg
  sound/vo/male/serious/rage (2).ogg
  sound/vo/male/serious/rage (3).ogg
  sound/vo/male/serious/rage.ogg
  sound/vo/male/serious/scream (2).ogg
  sound/vo/male/serious/scream.ogg
  sound/vo/male/serious/sigh (2).ogg
  sound/vo/male/serious/sigh.ogg
  sound/vo/male/serious/whistle (2).ogg
  sound/vo/male/serious/whistle.ogg
  stonekeep.dme
Labels: Scheduled for testmerge

#599 Tell Good Jackberries From Bad
  code/modules/hydroponics/grown/roguetown.dm
Labels: Scheduled for testmerge

#584 Farming, Brewing, and Submission Hole QOL
  code/datums/components/storage/storage.dm
  code/modules/hydroponics/fermenting_barrel.dm
  code/modules/roguetown/roguemachine/submission.dm
Labels: Scheduled for testmerge

#580 Ports separate custom emote cooldown
  code/modules/mob/emote.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/say.dm
Labels: Scheduled for testmerge

#569 Dun manor Decorations and general rework
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Scheduled for testmerge, Map

#601 Vampire Patron Changes
  code/modules/antagonists/roguetown/villain/vampire.dm
  code/modules/antagonists/roguetown/villain/vampirelord.dm
Labels: Scheduled for testmerge
