Repository Darkrp-community/OpenKeep, pull requests merged in 2025-01, with the labels that each got.

#1261 Town Houses, Inn & Mercenary Guild
  _maps/map_files/stonehamlet/stonehamlet.dmm
Labels: Map

#1263 [PRIORITY MERGE] FIXES WORKFLOWS COMPILE ISSUES, updates bug report
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/ci_suite.yml
Labels: Ready to merge, Bugfix

#1266 Fixes VL maille not being a subtype of maille (lol)
  code/modules/antagonists/roguetown/villain/vampirelord.dm
  code/modules/clothing/rogueclothes/armor.dm
Labels: Bugfix

#1269 Assorted Vanderlin sprite ports
  code/modules/mob/living/simple_animal/rogue/farm/chicken.dm
  code/modules/roguetown/roguecrafting/alchemy/ingredients.dm
  icons/effects/blood.dmi
  icons/roguetown/misc/alchemy.dmi
  icons/roguetown/mob/monster/chicken.dmi
  modular/Neu_Food/icons/food.dmi
Labels: Icons

#1270 Spin emote actually spins
  code/__DEFINES/flags.dm
  code/datums/emotes.dm
  code/modules/mob/emote.dm
  code/modules/mob/mob.dm
Labels: New features

#1273 Fixed walls, dye bins and fixed windows
  _maps/map_files/stonehamlet/stonehamlet.dmm
Labels: Map
